body{
    background-color: #EAC09B;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    display: flex;
    height: 70px;
    background-color: #E8AAB3;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color:black
}

.logo{
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.logo :hover{
    color: #EF6A96;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

nav a{
    font-weight: 600;
    padding-right:15px;
}

nav a:hover{
    color: #EF6A96;
    background-color: black;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

/*fin del nav, comienzo de imagen principal*/

.imgprin{
   background-image: url(../imagen/imgprincipal.jpg);
   height: 500px;
   padding-left: 25%;
   padding-top: 25%;
   font-size: 50px;
   font-family: cursive;
   background-repeat: no-repeat;
}

.imgprin :hover{
    color: #EF6A96;
    background-color: black;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}


.tituloind{
    background-color:black;
    color: #EF6A96;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-block: 10px;
}

.ttitulo{
    color: #EF6A96;

}

.textprinc{
    background-color: #E8AAB3;
    color:black;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    
}

.contenedor1 {
    display: flex;
    padding-left: 2%;
}

.etiquetas {
    text-align: center;
}

#conteitemcarrusel{
    height: 400px;
    width: 1200;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:#EF6A96;
}

.itemcarrusel {
    height: 100%;
    position: relative;
}

.imgcarrusel {
    display: flex;
    padding: 2%;
    border-radius: 30%;
}

.flechas {   
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pflechas {
    border-radius: 50%;
}

#tarjetacarrusel-1, #tarjetacarrusel-2, #tarjetacarrusel-3 {
    background-color:#EF6A96;
}


