body{
    background-color: #EAC09B;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    display: flex;
    height: 70px;
    background-color: #FF79B4;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

a{
    text-decoration: none;
    color:black
}

.logo{
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.logo :hover{
    color: #EF6A96;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

nav a{
    font-weight: 600;
    padding-right:15px;
}

nav a:hover{
    color: #EF6A96;
    background-color: black;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

/*fin del nav, comienzo de imagen principal*/

.imgprin{
   background-image: url(../imagen/imgprincipal.jpg);
   height: 500px;
   padding-left: 25%;
   padding-top: 25%;
   font-size: 50px;
   font-family: cursive;
   background-repeat: no-repeat;
}

.imgprin :hover{
    color: #EF6A96;
    background-color: black;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}


.tituloind{
    background-color:black;
    color: #EF6A96;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-block: 10px;
}

.ttitulo{
    color: #EF6A96;

}

.textprinc{
    background-color: #E8AAB3;
    color:black;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    
}

/*carrusel*/

.contenedor1 {
    display: flex;
    padding-left: 2%;
}

.etiquetas {
    text-align: center;
}

#conteitemcarrusel{
    height: 400px;
    width: 1200;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:#EF6A96;
}

.itemcarrusel {
    height: 100%;
    position: relative;
}

.imgcarrusel {
    display: flex;
    padding: 2%;
    border-radius: 20%;
}

.flechas {   
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pflechas {
    border-radius: 50%;
}

#tarjetacarrusel-1, #tarjetacarrusel-2, #tarjetacarrusel-3, #tarjetacarrusel-4 {
    background-color:#EF6A96;
}

/*contacto y registro*/

.formularios {
    background-color: #FF79B4;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
}

.formularios form {
    padding: 0 30px;
    box-sizing: border-box;
}

.usuario {
    border-bottom: 1px solid #CA3A67;
    margin: 30px 0;
    border-bottom-right-radius: 30px;
}

.usuario input {
    background-color:#fddae9;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 2%;
    text-align: center;
    width: 80%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
}

.usuario input:focus {
    border: 4px solid #CA3A67;
}

.usuario textarea {
    text-align: center;
    width: 80%;
    padding: 0 5px;
    height: 60px;
    font-size: 16px;
    background-color:#fddae9;
    resize: vertical;
    max-height: 300px;
    min-height: 40px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.usuario textarea:focus {
    border: 4px solid #CA3A67;
}

.boton {   
    padding-bottom: 10px;
}

.boton button {
    background-color: #CA3A67;
    width: 100px;
    height: 50px;
}

.boton button:focus {
    background-color: #f080a3;
}

/*Productos*/

.productosloreal {
    margin: 1%;
    padding: 1%;
    background-color: #E3C4E8;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

.byloreal{
    text-align: center;
    background-color: #804C8C;
    color: #FCF9FF;
    width: 400px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.etiquetasloreal {
    background-color: #cc86db;
    width: 600px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.imagenesloreal {
    background-color: #CC86DB;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.rutinaloreal {
    background-color: #cc86db;
    margin: 1%;
    padding: 1%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bylorealindex {
    background-color: #804C8C;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.imgenloreal {
    background-color:#CC86DB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
}




/*fin del body*/

footer {
    position: relative;
    text-align: center;
    background-color: #FF79B4;
    margin-top: 10px;
    padding-bottom: 10px;
}

.cosas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: static;
}


.redes {
    display: flex;
    padding-right:100px;
    padding: 20px;
    align-items: center;
}

.face {
    align-items: center;
    padding: 20px;
}

.face:hover {
    background-color: #1877F2;
    border-radius: 100px;
    padding-bottom: 30px;
}

.insta {
    padding: 20px;
}

.insta:hover {
    border-radius: 100px;
    background: #CA3A67;
    padding-bottom: 30px;
}

.wsp {
    padding: 20px;
}

.wsp:hover {
    padding-bottom: 30px;
}
